header{
    .logo-card{
        position: absolute;
        padding:2.1875rem 0.2rem;
        top:-70px
    }
    .title{
        font-weight: bold;
        font-size: 1.125rem;
    }
    
    .star{
        margin-left: 0.3rem;
    }
}

